@use "src/styles/sizing";

.container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(3);
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;
  border-top: var(--border);
  padding: sizing.spacing(2);
}

.micros-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: sizing.spacing(4);
  justify-content: center;
}

.macros-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: sizing.spacing(4);
}




