@use "src/styles/sizing";

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: sizing.spacing(4);
  min-height: 20px;
  border-top: var(--border);
  justify-content: center;
  padding: sizing.spacing(2);
}

.nutrient-container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(1);
}

.nutrient__name {
  color: black;
  align-self: center;
  text-decoration: underline;
}

.value--positive {
  color: #089a08;
}

.value--negative {
  color: #de0101;
}

.value--limit {
  color: #c4c400;
}
