@use "src/styles/sizing";

.container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(1);
  align-items: center;
}

.meal__name {
  font-weight: var(--font-weight-bold);
}

.food-container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(1);
  align-items: flex-end;
}
