@use "src/styles/sizing";

.dialog-container {
   display: flex;
   flex-direction: column;
   gap: sizing.spacing(2);
}

.dialog__inputs-container {
    max-height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: sizing.spacing(2);
}

.dialog__button-container {
    align-self: flex-end;
}

.dialog__title {
    font-weight: var(--font-weight-bold);
    align-self: center;
}