@use "src/styles/sizing";

.container {
  width: 630px;
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(2);
}

.nutrients-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: sizing.spacing(2);
  overflow: auto;
  max-height: 300px;
  border-top: var(--border);
  padding-top: sizing.spacing(2);
}

.macros-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: sizing.spacing(2);
}

