@use "src/styles/sizing";

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(1);
  padding: sizing.spacing(2);
  max-width: 1400px;
  background-color: var(--light-primary);
  z-index: var(--tooltip-z-index);
  border: 5px solid var(--normal-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
}

.info-container {
  gap: sizing.spacing(2);
  max-height: 500px;
  display: flex;
  flex-direction: row;
}

.macro-container {
  border-right: var(--border);
  padding-right: sizing.spacing(2);
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(1);
}

.micro-container {
  overflow: auto;
}

.nutrient-container {
  display: flex;
  flex-direction: column;
}

.nutrient__name {
  font-weight: var(--font-weight-bold);
}
