@use "src/styles/sizing";

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.4);
}

.body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(2);
  max-height: 95vh;
  max-width: 95vw;
  box-sizing: border-box;
  z-index: var(--dialog-z-index);
  position: fixed;
  box-shadow: var(--shadow-1);
  padding: sizing.spacing(4);
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: var(--border-radius);
}

.actions-container {
  align-self: end;
  display: flex;
  gap: sizing.spacing(2);
}

.content-container {
  scrollbar-gutter: stable;
  overflow: auto;
}