@use "src/styles/sizing";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: sizing.spacing(2);
}

.days-container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(2);
}
