@use "src/styles/sizing";

.container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(1);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.item-container {
  display: flex;
  flex-direction: row;
  gap: sizing.spacing(1);
}

.actions-container {
  display: flex;
  flex-direction: column;
}

.food-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border: var(--border);
  &[aria-selected="true"] {
    border: 3px solid var(--dark-primary);
  }
  &:hover {
    background-color: var(--hover-bg-color);
  }
}