@use "src/styles/sizing";

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(3);
}

.nutrients-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: sizing.spacing(2);
  overflow: auto;
  max-height: 260px;
  border-top: var(--border);
  padding-top: sizing.spacing(2);
}

.macros-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: sizing.spacing(2);
}

