$breakpoints: (
    "xs": 576px,
    "sm": 768px,
    "md": 992px,
    "lg": 1200px
);

@function spacing($args...) {
  $multiplier: 8px;
  $result: ();

  @for $i from 1 through length($args) {
    $arg: nth($args, $i);
    $result: append($result, $arg * $multiplier);
  }

  @return $result;
}


@mixin mq($bp) {
  $width: map-get($breakpoints, $bp);

  @media (max-width: $width) {
    @content;
  }
}
