:root {
  --border: 1px solid black;
  --border-radius: 8px;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-family: Arial, sans-serif;
  --hover-bg-color: rgba(105, 61, 4, 0.34);

  --dark-primary: rgb(246, 156, 90);
  --normal-primary: rgb(245, 189, 148);
  --light-primary: rgb(250, 224, 208);
  --dark-secondary: rgb(9, 96, 29);
  --normal-secondary: rgb(68, 218, 115);
  --light-secondary: rgb(148, 227, 173);
  --food-search-z-index: 600;
  --tooltip-z-index: 1000;
  --dialog-z-index: 800;
  --shadow-1:   0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  --font-size-15: 1.5rem;
  --font-size-12: 1.2rem;
  --font-size-08: 0.82rem;
  --food-search-width: 200px;
}

.title2-typo {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-12);
  line-height: 1.5;
}
.small-typo {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-08);
  color: rgb(70, 70, 70);
  line-height: 1.5;
}
