@use "src/styles/sizing";

.container {
  display: flex;
  flex-direction: row;
  gap: sizing.spacing(1);
  min-height: 20px;
  width: 100%;
  border-top: var(--border);
}

.nutrient-container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(1);
}