@use "src/styles/sizing";

.container {
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(2);
}

.nutrients-container {
  border-top: var(--border);
  padding-top: sizing.spacing(2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: sizing.spacing(2);
  overflow: auto;
  max-height: 280px;
}

.macros-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: sizing.spacing(2);
}

.buttons-container {
  align-self: end;
  display: flex;
  gap: sizing.spacing(1);
}

.title {
  align-self: center;
  font-weight: var(--font-weight-bold);
}
