@use "src/styles/sizing";

.container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(1);
}

.input {
  box-sizing: border-box;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  border: 1px solid;
  min-height: 35px;
  width: 100%;
}

.input-container {
  display: flex;
  gap: sizing.spacing(1);
  align-items: center;
}