@use "src/styles/sizing";

.container {
  display: flex;
  flex-direction: column;
  gap: sizing.spacing(1);
}

.input {
  padding: 4px 8px;
  border-radius: var(--border-radius);
  border: 1px solid;
  min-height: 25px;
}